<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Indra Permana. It uses data from mapbox.com and weatherstack.com !</p>
        <img src="/img/robot.png" class="portrait">
    </div>
    {{>footer}}
</body>


</html>